<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="main">
            <div class="header">
                <div id="logo" style="float: left;">
                    <img id="logo-img" src="{{ url_for('static', filename='logo.png') }}"/>
                </div>
                <div id="title" style="float: left;">
                    <p>Komplementy dla Anii</p>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div id="content">
                {% block content %}
                <div id="content-choice">
                    <div class="crossroads">
                        <a href="{{ url_for('show') }}">Obejrzyj</a>
                    </div>
                    <div class="crossroads">
                        <a href="{{ url_for('submit') }}">Wyślij</a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>