{% extends "index.html" %}
{% block content %}
<div id="content-main">
    <div id="submit-description">
        Wyślij komplement dla SEKSI BOSKIEJ ANI!
    </div>
    <div id="submit-form">
        <form action="/submit" method="POST">
            <input type="text" name="compliment"><br>
            <button type="submit" value="sumbit">Wyślij</button>
        </form>
    </div>
    <div id="submit-thanks">
        {% if thanks %}
        Dziękuję
        {% endif %}
    </div>
</div>
<div class="content-change">
    <a href="{{ url_for('show') }}">Obejrzyj</a>
</div>
<div style="clear: both;"></div>
{% endblock %}